<div class="container mt-3">
  <h1>Productivity Dashboard</h1>
  <hr>
  <div class="form-group">
    <h2>Add Entry:</h2>
    <label class="col-form-label">Person-Id:</label>
    <input type="text" class="form-control" [(ngModel)]="entryToAdd.person_id">
    <label class="col-form-label">Units:</label>
    <input type="text" class="form-control" [(ngModel)]="entryToAdd.units">
    <label class="col-form-label">Project:</label>
    <input type="text" class="form-control" [(ngModel)]="entryToAdd.project">
    <button class="btn btn-block btn-primary mt-3" [disabled]="isFormInvalid()" (click)="addEntry()">Eintragen</button>
  </div>
  <hr>
  <h2>Unit labor costs each Person</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Lastname</th>
        <th>Firstname</th>
        <th>Grossincome</th>
        <th>Working costs</th>
        <th>Unit labor costs</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let person of people">
          <tr
          (mouseover)="setIncomeClass(person.grossincome)"
          (click)="setWorkingCostClass(calculateWorkingCosts(person))"
          [ngStyle]="{'background-color': isIncomeClass(person.grossincome) ? 'yellow' :'',
                      'font-weight': isWorkingCostClass(calculateWorkingCosts(person)) ? 'bold' :''}"
          >
            <td>{{person.lastname}}</td>
            <td>{{person.firstname}}</td>
            <td>{{person.grossincome}}</td>
            <td>{{calculateWorkingCosts(person)}}</td>
            <td>{{calculateUnitLaborCosts(person)}}</td>
          </tr>
      </ng-container>
    </tbody>
  </table>
  <hr>
  <h2>Unit labor costs each Project</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Sum of grossincome</th>
        <th>Sum of working costs</th>
        <th (click)="sortProjectsByUnitLaborCosts()"><div class="bi" [ngClass]="{'bi-arrow-up': sortProjectsByUnitLaborCostsAsc,'bi-arrow-down':sortProjectsByUnitLaborCostsAsc == false}">Unit labor costs</div></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let project of projects">
          <tr>
            <td>{{project.projectName}}</td>
            <td>{{project.sumOfGrossIncome}}</td>
            <td>{{project.sumOfWorkingCosts}}</td>
            <td>{{project.sumOfLaborUnitCosts}}</td>
          </tr>
      </ng-container>
    </tbody>
  </table>

</div>

